@model Book

@{
    Layout = "_Layout";
}

<style>
    .addBookContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .addBookInputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .addBookInput {
        width: 225px
    }


</style>

<main>
    <div class="myContainer">
        
        <form class="addBookContainer" method="post" asp-action="AddingBook">
            <div class="addBookInputs">
                <input asp-for="CoverImg" type="text" placeholder="Book cover link" class="addBookInput" />
                <input asp-for="Title" type="text" placeholder="Title" class="addBookInput" />
                <input asp-for="Author" type="text" placeholder="Author" class="addBookInput" />
                <input asp-for="Pages" type="number" placeholder="Number of pages" min="1" class="addBookInput" />
                <input asp-for="PublishDate" type="date" placeholder="Publish date" class="addBookInput" />
                <input asp-for="Genre" type="text" placeholder="Genre" class="addBookInput" />
                <input asp-for="LibraryId" type="hidden" /> <!--přenese informaci o libraryId do controlleru-->
                <input asp-for="Rating" type="number" placeholder="Rating" min="1" max="5" class="addBookInput" />
                <input asp-for="Description" type="text" placeholder="Description" class="addBookInput" />
            </div>
            <button class="myBtn" type="submit">Add book</button>
        </form>    
    </div>
</main>




