@model Book;

@{
    Layout = "_Layout";
}

<style>
</style>

<main>
    <div class="myContainer">
            <div class="booksContainer">
            <img src="@Model.CoverImg" alt="book image" class="bookImage">
                <p>title: @Model.Title</p>
                <p>author: @Model.Author</p>
            </div>
    </div>
</main>




