@model Book

@{
    Layout = "_Layout";
}


<main>
    <div class="myContainer">
        <form class="addBookContainer" method="post" asp-action="EditingBook">
            <div class="editBookContainer">
                <div class="addBookInputs">
                    <input asp-for="BookId" type="hidden" />
                    <div class="addBookLabelInput">
                        <label for="CoverImg">Cover image link</label>
                        <input asp-for="CoverImg" type="text" placeholder="Book cover link" class="addBookInput" />
                    </div>
                    <div class="addBookLabelInput">
                        <label for="Title">Title</label>
                        <input asp-for="Title" type="text" placeholder="Title" class="addBookInput" />
                    </div>
                    <div class="addBookLabelInput">
                        <label for="Author">Author</label>
                        <input asp-for="Author" type="text" placeholder="Author" class="addBookInput" />
                    </div>
                    <div class="addBookLabelInput">
                        <label for="Pages">Pages</label>
                        <input asp-for="Pages" type="number" placeholder="Number of pages" min="1" class="addBookInput" />
                    </div>
                    <div class="addBookLabelInput">
                        <label for="PublishDate">Publish date</label>
                        <input asp-for="PublishDate" type="date" placeholder="Publish date" class="addBookInput" />
                    </div>
                    <div class="addBookLabelInput">
                        <label for="Genre">Genre</label>
                        <input asp-for="Genre" type="text" placeholder="Genre" class="addBookInput" />
                    </div>
                    <div class="addBookLabelInput">
                        <label for="LibraryId">Library id</label>
                        <input asp-for="LibraryId" type="number" placeholder="LibraryId" class="addBookInput" />
                    </div>
                    <div class="addBookLabelInput">
                        <label for="Rating">Rating</label>
                        <input asp-for="Rating" type="number" step="0.25" inputmode="decimal" placeholder="Rating" min="1" max="5" class="addBookInput" />
                    </div>
                    <div class="addBookLabelInput">
                        <label for="TimesLent">Times lent</label>
                        <input asp-for="TimesLent" type="number" placeholder="Times lent" min="0" class="addBookInput" />
                    </div>
                    <div class="addBookLabelInput">
                        <label for="Available">Available</label>
                        <input asp-for="Available" type="text" placeholder="Available" class="addBookInput" />
                    </div>
                </div>
                <div class="description">
                    <p>Description: </p>
                    <textarea asp-for="Description" placeholder="Description" class="addBookInput descriptionInput"></textarea>
                </div>
                
            </div>
            
            <button class="myBtn" type="submit">Save changes</button>
        </form>    
    </div>
</main>




