@model List<User>;

@{
    Layout = "_Layout";
}

<style>
    
    .loginContainer {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    input {
        width: fit-content;
        border-radius: 20px;
        border: solid #9FC4E6 2px;
        padding: 7px;
    }

    .loginH3 {
        transform: translateX(-118px);
    }

</style>

<div class="myContainer">
    <div class="loginContainer">
        <h3 class="loginH3">Log in</h3>
        <div class="inputs">
            <input type="text" name="name" value="" placeholder="username" />
            <input type="password" name="password" value="" placeholder="password" />
            <button class="myBtn">Log in</button>
        </div>
        <div class="createAccountContainer">
            <p>Don't have an account?</p>
            <a class="myBtn" asp-controller="Libraries" asp-action="Signup">Create account</a>
        </div>
    </div>
    
</div>


