@model SignupModel;

@{
    Layout = "_Layout";
}

<div class="myContainer">
    <div class="loginContainer">
        <h3 class="loginH3">Create account</h3>
        <form class="inputs" method="post" asp-action="SigningUp">
            
            <input type="text" asp-for="Username" placeholder="username" />
            <input type="password" asp-for="Password" placeholder="password" />
            <input type="password" asp-for="ConfirmPassword" value="" placeholder="confirm password" />
            <div class="problemContainer">

                @if (Model.WrongPassword) {
                <p class="problemP">Passwords do not match</p>
                }
                @if (Model.ExistingUsername)
                {
                    <p class="problemP">This name is taken</p>
                }
            </div>
            
            <button class="myBtn">Create account</button>
        </form>
        <div class="createAccountContainer">
            <p>Already have an account?</p>
            <a class="myBtn" asp-controller="Auth" asp-action="Login">Login</a>
        </div>
    </div>
    
</div>


