@{
    ViewData["Title"] = "Home Page";
}
@model List<Library>;



<div class="myContainer">
    <h2>Branches</h2>

    @foreach (var branch in Model) {
    <div class="branchContainer">
        <div class="branch">
                <p>Best Library s.r.o. - @branch.Name</p>
                <div class="myBtns">
                    <a asp-controller="Libraries" asp-action="BranchDetail" asp-route-id="@branch.LibraryId" class="btnDetail myBtn">Detail</a>
            </div>
        </div>
    </div>
    }

</div> 