/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
*/


main {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: #E4ECEF;
  min-height: calc(100vh - 150px); 
}

.myContainer {
  display: flex;
  flex-direction: column;
  padding: 100px;
  background-color: #E4ECEF;
  margin: 0;
  width: 100%;
}

.bookBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 25px;
    justify-self: flex-end;
}

header {
    background-color: #373737;
    color: white;
    padding: 35px;
    display: flex;
    flex-direction: column; 
    height: 150px;
    width: 100%;
    flex-shrink: 0;
    font-size: 20px;
}

header h2 {
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

.bestLibraryHeader {
    align-self: flex-start;
}

.bestLibraryHeader:hover {
    text-decoration: none;
    cursor: pointer;
}

header a:hover {
    cursor: default;
    text-decoration: underline;

}

header a, 
.helloUser {
    align-self: flex-end;
    margin-top: 0px;
    margin-bottom: 5px;
    color: white;
    text-decoration: none;
}


body {
    font-family: Inter;
}

.myContainer {
    display: flex;
    flex-direction: column;
    padding: 100px;
    background-color: #E4ECEF;
    flex: 1;
    margin: 0px;
    width: 100%;
}

.myContainer h2 {
     font-size: 40px;
}

.branchContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}

.branch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(1, 120, 255, 0.12);
    padding: 20px;
    width: 100%;
    color: #00376C;
    border-radius: 25px;
    font-size: 20px;
}

.branch p {
    margin: 15px;
}

.myBtns {
    display: flex;
    gap: 20px;
}

.myA {
    text-decoration: none;
}

input, textarea {
    border-radius: 20px;
    border: solid #9FC4E6 2px;
    padding: 7px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    background: white;
}

.addBookInput {
    width: 225px;
}

.myBtn {
    display: flex;
    background-color: #FF7676;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 3px solid transparent;
    text-decoration: none;
    width: fit-content;
}

.myBtn:hover {
    cursor: pointer;
    border: 3px solid #FFC9C9;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    background-color: rgba(1, 120, 255, 0.12);
    padding: 50px;
    width: 500px;
    align-self: center;
    border-radius: 50px;
    color: #00376C;
}

.loginContainer input {
    width: 300px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

input {
    width: fit-content;
    border-radius: 20px;
    border: solid #9FC4E6 2px;
    padding: 7px;
}

.loginH3 {
    align-self: flex-start;
}

.problemP {
    color: red;
    margin-bottom: 0px;
    margin-top: 0px;
}

.problemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.createAccountContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookContainer {
    display: flex;
    flex-direction: column;
    background-color: #C8DDF1;
    padding: 40px;
    padding-bottom: 25px;
    border-radius: 30px;
    width: 350px;
    min-height: 582px;
    align-items: center;
    gap: 15px;
}

.detailBtn {
   margin-top: auto;
}

.booksContainer {
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.branchBookTitle {
    font-weight: bold;
    font-size: larger;
    margin-bottom: 0px;
}

.branchBookAuthor {
    margin-bottom: 0px;
}

.topLink {
    font-size:xx-large;
    cursor: default;
    color: black;
}

.branchesLink {
    color: black;
    text-decoration: none;
}

.branchesLink:hover {
    cursor: default;
    text-decoration: underline;
}

.coverImgBranch {
    width: 250px;
    border-radius: 10px;
}

.addBookContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: rgba(1, 120, 255, 0.12);
    border-radius: 50px;
    color: #00376C;
    padding: 50px;
}

.addBookInputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
}

.addBookLabelInput {
    display: flex;
    gap: 15px;
    align-items: center;
}

.addBookInput {
    width: 225px
}

.editBookContainer {
    display: flex;
    gap: 25px;
}

.descriptionInput {
    width: 250px;
    height: 100%;
    resize: none;
}

.description {
    display: flex;
    flex-direction: column;
    height: 480px;
}