/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
*/
header {
    background-color: #373737;
    color: white;
    padding: 35px;
    display: flex;
    flex-direction: column; 
    height: 150px;
    width: 100%;
    flex-shrink: 0;
    font-size: 20px;
}

header h2 {
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

header p:hover {
    cursor: default;
    text-decoration: underline;
}

header p {
    align-self: flex-end;
    margin-top: 0px;
    margin-bottom: 5px;
}


body {
    font-family: Inter;
}

.myContainer {
    display: flex;
    flex-direction: column;
    padding: 70px;
    background-color: #E4ECEF;
    flex: 1;
    margin: 0px;
    width: 100%;
    height: 100vh;
}

    .myContainer h2 {
        font-size: 40px;
    }

.branchContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}

.branch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(1, 120, 255, 0.12);
    padding: 20px;
    width: 100%;
    color: #00376C;
    border-radius: 25px;
    font-size: 20px;
}

    .branch p {
        margin: 15px;
    }

.myBtns {
    display: flex;
    gap: 20px;
}

.myBtn {
    display: flex;
    background-color: #FF7676;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 3px solid transparent;
    text-decoration: none;
}

    .myBtn:hover {
        cursor: pointer;
        border: 3px solid #FFC9C9;
    }
