/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
*/
header {
    background-color: #373737;
    color: white;
    padding: 35px;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 100%;
    flex-shrink: 0;
    font-size: 20px;
}

header h2 {
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

header p:hover {
    cursor: default;
    text-decoration: underline;
}

header p {
    align-self: flex-end;
    margin-top: 0px;
    margin-bottom: 5px;
}