/*
body {
    font-family: Inter;
}

.myContainer {
    display: flex;
    flex-direction: column;
    padding: 70px;
    background-color: #E4ECEF;
    flex: 1;
    margin: 0px;
    width: 100%;
    height: 100vh;
}

.myContainer h2 {
    font-size: 40px;
}

.branchContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}

.branch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(1, 120, 255, 0.12);
    padding: 20px;
    width: 100%;
    color: #00376C;
    border-radius: 25px;
    font-size: 20px;
}

.branch p {
    margin: 15px;
}

.myBtns {
    display: flex;
    gap: 20px;
}

.myBtn {
    display: flex;
    background-color: #FF7676;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 3px solid transparent;
    text-decoration: none;
}

.myBtn:hover {
    cursor: pointer;
    border: 3px solid #FFC9C9;
}
*/